/*Common css*/


@font-face {
  font-family: 'main-font';
  src: url('../fonts/PTSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'heading-font';
  src: url('../fonts/Oswald-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


body {
  margin: 0px;
  padding: 20px 0px 20px 0px;
  font: 16px/1.4em "main-font";
  background: #fff;
  height: 100%;
  color: #666;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: "heading-font"; */
  color: #222;
}


.parent::before,
.parent::after {
  clear: both;
  content: "";
  display: table;
  margin-top: -1px;
  height: 0;
}


.primaryColor {
  background-color: #fff;
  color: #666;
}

.centerText {
  text-align: center;
}

.complimentColor {
  background-color: #07C1DA;
  color: #fff;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.clear {
  width: 100%;
  float: none;
  clear: both;
}

.self-clear:after {
  content: '';
  display: block;
  visibility: hidden;
  height: 0px;
  width: 0px;
  clear: both;
  float: none;
}


.mainContent {
  width: 78%;
  min-height: 100%;
  padding: 0px;
  background: #ddd;
}

.well {
  background: #fff;
  padding: 25px 22px 5px 22px;
}

.well.index ul {
  margin: 15px 0px 0px 4px;
}

.well.index ul li {
  margin: 8px 0px;
  list-style: none;
  padding: 0px 0px 0px 20px;
  background-image: url("../img/ls.jpg");
  background-repeat: no-repeat;
  background-position: 0px center;
  cursor: pointer;
  text-transform: uppercase;
}

.well.index ul li:hover {
  text-decoration: underline;
}

.container {
  min-height: 500px;
  max-width: 1001px;
  margin: 0px auto;
  box-shadow: 0px 0px 6px 1px #0003;
  background-color: #07c1da;
}

.topName {
  text-transform: uppercase;
  margin: 0px;
  padding: 0px;
  font-size: 1.2em;
  font-weight: normal;
  letter-spacing: 0.06em;
  color: #fff;
}

.secondName {
  font-size: 0.7em;
  margin: 0px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #fff;
}

.profilePannel {
  width: 22%;
  min-height: 500px;
  padding-bottom: 10px;
}

.profilePic {
  width: 100%;
  background-size: 100%;
  height: auto;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 15px;
  background-color: #4ebdb9;
}

.profilePic img {
  width: 56%;
  display: block;
  border-radius: 50%;
  margin: 27px auto 12px auto;
}

.namePlate {
  width: 100%;
  color: #fff;
  background-color: rgba(62, 184, 180, 0.9);
  padding: 5px 0px;
}

.info-section {
  width: 100%;
  min-height: 36px;
  padding: 2px 11px 0px 0px;
}

.infoHolder {
  float: right;
  width: 80%;
  min-height: 14px;
  padding: 2% 2%;
}

.infoHolder .ratings {
  background: #fff;
  height: 3px;
  margin: 2px 0px 8px 0px;
  border-radius: 5px;
  overflow: hidden;
}

.infoHolder .ratings>div {
  height: 3px;
  background: #00f5e3;
  width: 0%;
  transition: width 0.5s;
}

.hr {
  height: 1px;
  width: 50%;
  outline: none;
  margin: 8px 0px 12px 0px;
}

.infoHolder .hr {
  background: #fff;
  height: 1px;
  width: 100%;
  outline: none;
  margin: 4px 0px;
}

.infoIconHolder {
  width: 20%;
  float: left;
  padding: 2% 2%;
}

.infoIcon {
  width: 70%;
  float: right;
}

.infoClass {
  margin: 0px;
  font-size: 0.8em;
  text-transform: capitalize;
}

.infoId {
  font-size: 0.9em;
  line-height: 1.4em;
}

.footer {
  width: 100%;
  float: none;
  clear: both;
  min-height: 50px;
  /* background: #353535; */
}

.descIconHolder {
  width: 4%;
}

.descIcon {
  width: 100%;
  float: right;
}

.descBody {
  width: 95%;
  padding: 0px 5px;
}

.descBody a {
  color: #f36e31;
}

.descTitle {
  margin: 8px 0px 13px 0px;
  font-size: 25px;
  text-transform: uppercase;
  color: #222;
}

.descSubtitle {
  margin: 20px 0px 2px 0px;
  font-size: 15px;
  text-transform: uppercase;
}

.descSubtitle.current:after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 21px;
  background-image: url(../img/checked.png);
  background-size: 19px;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-left: 10px;
}

.well.projects .descSubtitle {
  color: #ef6631;
}

.descText {
  margin: 3px 0px 10px 0px;
  text-align: justify;
  font-size: 1em;
}

.indentText {
  text-indent: 2em;
}

.descBody .hr {
  background: #999;
}

.descBody dl {
  margin: 0px 0px 38px 0px;
}

.descBody dl dt {
  font-weight: bold;
  font-size: 0.9em;
}

.descBody dl dd {
  margin-bottom: 8px;
}

.companyName {
  margin: 0px;
  font-size: 0.9em;
  text-transform: uppercase;
}

.footerText {
  color: #fff;
  text-align: center;
  padding: 10px;
}

.footerText span {
  padding: 5px 8px;
  cursor: pointer;
  line-height: 2.4em;
  border-radius: 10px;
  background-color: #3792bd;
  margin: 0px 5px;
}

.facebook {
  background: #3d5c95;
}

.twitter {
  background: #47B7FF;
}

.linkedIn {
  background: #007BB6;
}

.google {
  background: #DC4A3D;
}

.instagram {
  background: #2E5E86;
}

@media screen and (max-width: 1280px) {
  .profilePic {
    min-height: auto;
  }
}

@media screen and (max-width: 991px) {
  .profilePannel,
  .mainContent {
    width: 100%;
    margin: 0px auto;
    float: none;
    padding: 0px;
  }
  .container {
    width: 96%;
  }
  .profilePic {
    width: 200px;
    float: left;
  }
  .info-section {
    width: calc(100% - 200px);
    float: right;
  }
}

@media screen and (max-width: 600px) {
  .profilePic,
  .info-section {
    width: 100%;
    float: none;
  }
}

@media print {
  .page {
    max-width: auto;
  }
  @page {
    /* size : auto; */
    size: 1140px 1130px;
    margin: 2cm 0px 2cm 0px;
    margin: 0;
    counter-increment: page;
    padding: 2cm 0px !important;
  }
  /* html {margin:2cm 0cm} */
  .page-break {
    margin-top: 20px;
    /* height: 1385px !important; */
    /* padding-top: 10px; */
  }
  .container {
    width: 100% !important;
    margin: 0px !important;
    padding: 0px !important;
    max-width: initial;
  }
  .mainContent {
    background: 0 0;
    padding-left: 0px;
  }
  .no_print {
    display: none;
  }
  body {
    -webkit-print-color-adjust: exact;
    padding: 0px !important;
    margin: 0px;
    /* background-color: #003281; */
  }
  * {
    -webkit-print-color-adjust: exact !important;
  }

  .well.index ul li {
    display: inline-block;
  }
  .footer,
    #non-printable {
        display: none !important;
    }
    #printable {
        display: block;
    }
}

.page-break {
  page-break-before: always;
}