<!DOCTYPE html>
<html>
	<head>
		<title>Lalnuntluanga</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="css/style.css" rel="stylesheet">		
		<link href="img/fav.png" rel="shortcut icon">
		<style>
		
			[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak{
				display: none !important;
			}

			.fade-ng-cloak {
				display: block !important;
				opacity: 1;
				transition: opacity 0.5s;
			}

			.fade-ng-cloak.ng-cloak {
				opacity: 0;
			}
	
		</style>

	</head>
<body ng-app="app" ng-controller="Common" class="ng-cloak fade-ng-cloak">

	<div class="container" ng-attr-style="background-color: {{contents.theme.leftPannel.bg}};">
		<div class="floatLeft profilePannel self-clear" ng-attr-style="color: {{contents.theme.leftPannel.font}}">
			<div class="profilePic parent">
				<img ng-src="{{contents.avatar}}">
				<div class="namePlate">
					<h1 class="centerText topName" ng-bind="contents.name"></h1>
					<h3 class="secondName centerText" ng-bind="contents.designation"></h3>
					<p class="centerText">(<span id="experience"></span> Years)</p>
				</div>
			</div>
			
			<div class="info-section self-clear">
				
				<div class="infoIconHolder">
					<img src="img/contact.png" class="infoIcon">
				</div>
				
				<div class="infoHolder">
					<a ng-href="tel:{{contents.mobile}}" target="_blank" class="infoId" ng-bind="contents.mobile"></a>
					<p class="infoClass">mobile</p>
					
				</div>
				
			</div>
			
			<div class="info-section self-clear">
				
				<div class="infoIconHolder">
					<img src="img/mail.png" class="infoIcon">
				</div>
				
				<div class="infoHolder">
					<a ng-href="mailto:{{contents.email}}" target="_blank" class="infoId" ng-bind="contents.email"></a>
					<p class="infoClass">personal</p>
					
				</div>
				
			</div>
			
			<div class="info-section self-clear">
				
				<div class="infoIconHolder">
					<img src="img/place.png" class="infoIcon">
				</div>
				
				<div class="infoHolder">
					<a ng-href="{{contents.address.mapUrl}}" target="_blank" class="infoId" ng-bind="contents.address.text"></a>
					<p class="infoClass">Current</p>
					
				</div>				
			</div>

			<div class="info-section self-clear" ng-repeat="account in contents.socialAccounts">
				
				<div class="infoIconHolder">
					<img ng-src="{{account.icon}}" class="infoIcon">
				</div>
				
				<div class="infoHolder">
					<a ng-href="{{account.url}}" target="_blank" class="infoId" ng-bind="account.id"></a>
				</div>				
			</div>
			
			<div class="info-section self-clear">
				
				<div class="infoIconHolder">
					<img src="img/skills.png" class="infoIcon">
				</div>
				
				<div class="infoHolder">
					<p class="infoId">Proffessional Skills</a>
					<br><br>

					<div ng-repeat="skill in contents.skills">

						<p class="infoClass skills" ng-bind="skill.name"></p>
						<div class="ratings">
							<div ng-attr-style="width: {{skill.level * 10}}%"></div>
						</div>

					</div>
					
					
					
				</div>
			</div>
			
			
		</div>
		
		<div class="floatRight mainContent">
			
			<div class="well index no_print">
				<h3>CONTENTS</h3>
				<ul>
					<li id="intro_anch">Introduction</li>
					<li id="exp_btn">Work Experience</li>
					<li id="edu_btn">Education</li>
					<li id="hob_btn">Hobby & Interest</li>
					<li id="proj_btn">Projects</li>
				</ul>
			
			</div>
			
			
			<div class="well self-clear" id="intro_anch">
				<div class="floatLeft descIconHolder">
					<img src="img/self_intro.png" class="descIcon">
				</div>
				
				<div class="floatRight descBody">
					<h3 class="descTitle">Introduction</h3>
					<div class="hr"></div>
					<p class="descText" html-bind="contents.introduction"></p>
										
					
								
				</div>
								
			</div>


			<div class="well  self-clear" id="exp_anch">
				<div class="floatLeft descIconHolder">
					<img src="img/experience.png" class="descIcon">
				</div>
				
				<div class="floatRight descBody">
					<h3 class="descTitle">Work Experience</h3>
					<div class="hr"></div>
					
					<h4 class="descSubtitle" ng-repeat-start="experience in contents.experiences" ng-bind="experience.title" ng-class="{'current' : (experience.duration.to == $parent.today)}"></h4>
					<p>{{experience.duration.from | date : 'dd-MMM-yyyy'}} to {{experience.duration.to | date : 'dd-MMM-yyyy'}}</p>
					<p></p>
					<h3 class="companyName"><a ng-href="{{experience.website}}" target="_blank" ng-bind="experience.company"></a></h3>
					<p class="descText" ng-repeat-end ng-bind="experience.description"></p>
										
					
								
				</div>
								
			</div>
			
			
			<div class="well page-break self-clear" id="edu_anch">
				<div class="floatLeft descIconHolder">
					<img src="img/education.png" class="descIcon">
				</div>
				
				<div class="floatRight descBody">
					<h3 class="descTitle">Education</h3>
					<div class="hr"></div>
					
					<div ng-repeat="edu in contents.educations">
						<h4 class="descSubtitle">{{edu.course}} - {{edu.duration.from | date : 'yyyy'}} to {{edu.duration.to | date : 'yyyy'}}</h4>
						<h3 class="companyName"><a ng-href="{{edu.website}}" ng-bind="edu.institution" target="_blank">Govt Zirtiri Residential Science College</a></h3>
						<p class="descText">
							Grade/Percentage : {{edu.grade}}<br>
							Board : {{edu.affiliate}}
						</p>
					</div>								
					
				</div>
								
			</div>
			
			<div class="well self-clear" id="hob_anch">
				<div class="floatLeft descIconHolder">
					<img src="img/hobby.png" class="descIcon">
				</div>
				
				<div class="floatRight descBody">
					<h3 class="descTitle">Hobby & Interest</h3>
					<div class="hr"></div>
					
					<h4 class="descSubtitle" ng-repeat-start="hobby in contents.hobbies" ng-bind="hobby.title"></h4>
					<p class="descText" ng-repeat-end ng-bind="hobby.description"></p>
					
				</div>
								
			</div>
			
			<div class="well page-break self-clear projects" id="proj_anch">
				<div class="floatLeft descIconHolder">
					<img src="img/projects.png" class="descIcon">
				</div>
				
				<div class="floatRight descBody">
					<h3 class="descTitle">Projects</h3>
					<div class="hr"></div>
					
					<div ng-repeat="project in contents.projects">
						<h4 class="descSubtitle" ng-bind="project.name"></h4>
						<dl>
							<dt>URL</dt>
							<dd><a ng-href="{{project.url}}" target="_blank" ng-bind="project.url"></a></dd>
							<dt>TECHNOLOGIES</dt>
							<dd ng-bind="project.technologies.join(', ')"></dd>
							<dt>DESCRIPTION</dt>
							<dd ng-bind="project.description"></dd>
						</dl>
					</div>

				</div>
			</div>
		
		</div>
		
		<div class="footer">
			
			<p class="footerText">See my profile on 
				
				<span ng-repeat="socialAccount in contents.socialAccounts"><a ng-href="{{socialAccount.url}}" target="_blank">{{socialAccount.name}} - {{socialAccount.id}}</a></span>
				
		</div>
	</div>
	
	<script type="text/javascript" src="contents.js"></script>
	<script type="text/javascript" src="libs/velocity.min.js"></script>
	<script type="text/javascript" src="libs/angular.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	

</body>
</html>